.menu-contenair {
  width: 100%;
  height: 2.5rem;
  border-bottom: solid 0.01rem #32a1ce;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.sub-conetenair {
  width: 80%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  height: inherit;
}
.menu-right {
  width: 70%;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.acceuil-style {
  cursor: pointer;
  color: hsl(194, 100%, 46%);
  text-decoration: none;
  font-size: 20px;
}
#hover-style:hover {
  color: hsl(202, 100%, 39%);
  border-bottom: solid 0.01rem #32a1ce;
}
.button-style {
  cursor: pointer;
  color: #666666;
  text-decoration: none;
  font-size: 18px;
  border-right: solid 0.01rem #32a1ce;
  padding-right: 1rem;
}
.login-popup {
  width: 100vw;
  height: 100vh;
  background-color: #29608554;
  display: flex;
  flex-flow: column;
}
.close-top {
  width: 100vw;
  height: 230px;
}
.login-container {
  width: 100vw;
  height: 400px;
}
.close-bottom {
  width: 100vw;
  height: 400px;
}
