.contenairFoot{
    width: 100%;
    height: 20rem;
    color: white;
    margin: 2rem 0 0 0;
    background: #007CC5;
    background: -webkit-linear-gradient(top left, #007CC5 0%, #67CAEF 100%);
    background: -moz-linear-gradient(top left, #007CC5 0%, #67CAEF 100%);
    background: -o-linear-gradient(top left, #007CC5 0%, #67CAEF 100%);
    background: linear-gradient(to bottom right, #007CC5 0%, #67CAEF 100%);

}