.contenair-prise {
  width: 100%;
  height: 39.8rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 4rem 0 0 0;
}

.title-prise {
  color: #007CC5;
  margin: 0 0 1.5rem 0;
  width: 80%;
  border-bottom: solid 0.01rem #32a1ce;
  text-align: start;
}

.jumptargetP:target {
  padding-top: 5rem !important;
  margin-top: -5rem !important;
}

.contenairImg {
  width: 80%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}

#img-prise {
  background-image: url("../../assets/img/prise_en_charge.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.prise-en-charge {
  width: 85%;
  height: 87%;
  background-color: rgba(0, 0, 0, 0.26);
  color: white;
  padding: 2rem 3rem 2rem 3rem;
  display: flex;
  flex-flow: column;
  border-radius: .3rem;
}

.prise-en-charge:hover {
  background-color: #121226;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.prise-en-charge>h2 {
  width: 85%;
  height: auto;
  text-align: justify;
  margin-bottom: 1rem;
}

.priseEnChargeList {
  width: 100%;
  height: 70%;
}

b {
  font-weight: bold;
  vertical-align: baseline;
}

.priseEnChargeList ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

.priseEnChargeList ol li {
  counter-increment: my-awesome-counter;
  list-style: none;
  text-align: justify;
  line-height: 1.3;
  margin-bottom: 0.8rem;
  letter-spacing: .8px;
}

.priseEnChargeList ol li::before {
  content: counter(my-awesome-counter) " / ";
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 0.5rem;
  margin-left: 0.9rem;
  text-align: justify;
}

#my-txt p {
  display: flex;
  vertical-align: baseline;
  text-align: justify;
  letter-spacing: .8px;
}