.contenairContact {
  width: 100%;
  height: 39.6rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 4rem 0 0 0;
}

.title-contact {
  display: flex;
  justify-content: flex-start;
  color: #007CC5;
  margin: 0 0 1.5rem 0;
  width: 80%;
  border-bottom: solid 0.01rem #32a1ce;
}

.fromMpas {
  width: 80%;
  height: 36rem;
  display: flex;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.contenairFrom {
  width: 50%;
  height: 100%;
  padding: 2rem 0;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  border-radius: 0.3rem 0;
  align-items: center;
  background: #007CC5;
  background: -webkit-linear-gradient(top left, #007CC5 0%, #67CAEF 100%);
  background: -moz-linear-gradient(top left, #007CC5 0%, #67CAEF 100%);
  background: -o-linear-gradient(top left, #007CC5 0%, #67CAEF 100%);
  background: linear-gradient(to bottom right, #007CC5 0%, #67CAEF 100%);
}

.contenairMaps {
  width: 50%;
  height: 100%;
  background-image: url("../../assets/img/Maps_ADEA.JPG");
  background-size: cover;
  z-index: 10;
}

textarea {
  min-width: 30rem;
  min-height: 10rem;
  box-sizing: border-box;
  border: 0.1rem solid hsl(210, 100%, 70%);
  border-radius: 1rem;
  margin: 1rem 0;
  padding: 1rem;
}

.form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

#contactInput {
  display: block;
  appearance: none;
  outline: 0;
  border: 1px solid fade(white, 40%);
  background-color: fade(white, 20%);
  width: 30rem;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  transition-duration: 0.25s;
  font-weight: 300;
}

#contactInput:hover {
  background-color: fade(white, 40%);
}

#contactInput:focus {
  background-color: white lightgoldenrodyellow;
  width: 30rem;
}

#not-mail {
  display: none;
  position: absolute;
  top: 4px;
  color: #ff4d4d;
  right: 0;
  transform-origin: 50% 50%;
}