.corps-contenair {
  width: 100%;
  height: 100%;
  color: #666666;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.whoAreWe {
  width: 85%;
  height: 11rem;
  margin: 1rem 0 1rem 0;
}
.title {
  display: flex;
  justify-content: flex-start;
  color: hsl(194, 100%, 46%);
  width: 100%;
  height: 2rem;
  border-bottom: solid 0.01rem #32a1ce;
  margin-left: 2.4rem;
}
.jumptarget:target {
  padding-top: 5rem !important;
  margin-top: -5rem !important;
}
.myText > p {
  width: 100%;
  height: auto;
  text-align: justify;
  text-indent: 2.5rem;
  line-height: 1.4em;
  padding: 2rem 0 1rem 0;
}
#memberTitle {
  text-align: start;
  width: 80%;
  height: 2rem;
  margin: 1rem 0;
}
#memberTitle:hover {
  color: hsl(194, 100%, 46%);
}
.presentationCard {
  width: 120%;
  height: 24rem;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  transform: rotate(-2deg);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1rem 0 1rem 0;
  background-color: whitesmoke;
}
.contenairCard {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  transform: rotate(2deg);
}
.cardStyle {
  width: 25rem;
  height: 21rem;
  border-radius: 1rem;
  margin: 1rem;
}
.cardStyle > div {
  color: white;
}
#imgCadreCarte {
  display: flex;
  width: 100%;
  height: 100%;
}
#card1 {
  margin-top: 3rem;
}
#img-card1 {
  background-image: url("../../assets/img/personne3.jpg");
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100%;
}
#card2 {
  margin-top: 1rem;
}
#img-card2 {
  background-image: url("../../assets/img/personnel1.jpg");
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100%;
}
#card3 {
  margin-top: -1rem;
}
#img-card3 {
  background-image: url("../../assets/img/Activite.jpg");
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100%;
}
.ourGoals {
  width: 100%;
  height: 38rem;
  margin: 5rem 0 2rem 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.titleGoals {
  display: flex;
  justify-content: flex-start;
  color: hsl(194, 100%, 46%);
  width: 85%;
  border-bottom: solid 0.01rem #32a1ce;
  margin-left: 4.6rem;
}
.notreMissionImg {
  width: 90%;
  height: 100%;
  display: flex;
  background: linear-gradient(#ded4ca, #ffffff);
  margin: 3rem 0 1rem 0;
}
#img {
  background-image: url("../../assets/img/missioncover.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.myCards {
  margin: 1rem 0 0 57rem;
  width: 27.4rem;
  height: 36rem;
  display: flex;
  flex-flow: wrap column;
}
.objectifCard {
  margin: 1.3rem 0 2rem 0;
  width: 470px;
  height: 175px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
li {
  margin: 0.5rem 0rem 0.5rem 2rem;
  list-style: inside;
  text-transform: none;
  text-indent: -1.35rem !important;
  text-align: start !important;
  text-align-last: start !important;
}
.missionCard {
  width: 470px;
  height: 310px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
