.corps-contenair {
  width: 100%;
  height: 80rem;
  color: #666666;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
.whoAreWe {
  width: 80%;
  height: 12.8rem;
  margin: 0 0 1rem 0;
}
.titleW {
  color: #007CC5;
  width: 100%;
  border-bottom: solid 0.01rem #32a1ce;
  text-align: start;
}

.myText > p {
  width: 100%;
  height: auto;
  text-align: justify;
  text-indent: 2.5rem;
  line-height: 1.4em;
  padding: 2rem 0 1rem 0;
}
#memberTitle {
  text-align: start;
  width: 80%;
  height: 2rem;
  margin: 1rem 0 0 0;
}
#memberTitle:hover {
  color: #007CC5;
}

.presentationCard {
  width: 82%;
  height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-4deg);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0 0 2rem 0;  
}
.contenairCard {
  width: 100%;
  height: 98%;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  transform: rotate(2deg);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contenairCard2{
  width: 100%;
  height: 98%;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  transform: rotate(2deg);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}
.cardStyle {
  width: 22rem;
  height: 19rem;
  border-radius: 1rem;
  
}
.cardStyle > div {
  color: white;
}

#card1 {
  margin-top: 3rem;
}
#img-card1 {
  background-image: url("../../assets/img/personne3.jpg");
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100%;
}
#card2 {
  margin-top: 1rem;
}
#img-card2 {
  background-image: url("../../assets/img/personnel1.jpg");
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100%;
}
#card3 {
  margin-top: -1rem;
}
#img-card3 {
  background-image: url("../../assets/img/Activite.jpg");
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100%;
}
.ourGoals {
  width: 100%;
  height: 40rem;
  margin: 3rem 0 0 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.titleGoals {
  display: flex;
  justify-content: flex-start;
  color: #007CC5;
  width: 80%;
  border-bottom: solid 0.01rem #32a1ce;
  margin: 0 0 1.5rem 0;
}
.notreMissionImg {
  width: 80%;
  height: 90%;
  display: flex;
  background: linear-gradient(#ded4ca, #ffffff);
}
#img {
  background-image: url("../../assets/img/missioncover.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.myCards {
  margin: 1rem 0 0 50rem;
  width: 27.4rem;
  height: 36rem;
  display: flex;
  flex-flow: wrap column;
}
.objectifCard {
  margin: 1.3rem 0 2rem 0;
  width: 470px;
  height: 175px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
li {
  margin: 0.5rem 0rem 0.5rem 2rem;
  list-style: inside;
  text-transform: none;
  text-indent: -1.35rem !important;
  text-align: start !important;
  text-align-last: start !important;
}
.missionCard {
  width: 470px;
  height: 310px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
